<div class="full-screen" style="display: flex;flex-flow: row;">
	<div class="container" style="max-width: 18%;max-height: 100%;overflow: auto;background: rgba(0,0,0,0.7); padding: 0px;">
		<nav class="navbar navbar-dark">
			<a routerLink="" class="navbar-brand">
				<img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
				Disaster Planning
			</a>
		</nav>
		<ul class="nav nav-pills nav-stacked">
			<li class="nav-item"><a routerLink="../workspace" class="nav-link">Work Space</a></li>
			<li class="nav-item"><a routerLink="./" class="nav-link">Home</a></li>
			<li class="nav-item"><a routerLink="./edit" class="nav-link">Edit Users</a></li>
			<li class="nav-item"><a routerLink="./invites" class="nav-link">Invite Users</a></li>
			<li class="nav-item"><a routerLink="./password" class="nav-link">Edit Password</a></li>
			<li class="nav-item"><a routerLink="./settings" class="nav-link">Account Settings</a></li>
			<li class="nav-item"><span class="nav-link">Logout</span></li>
		</ul>
	</div>
	<div class="container" style="padding: 0px;max-height: 100%;overflow: auto;">
		<div class="container-fluid" style="background: #21b2fe">
			<nav class="navbar navbar-dark" style="color: #ffffff !important;">
				<span class="navbar-brand">
					{{company}}
				</span>
				<span class="navbar-text float-xs-right">
					Hello {{username}} !
				</span>
			</nav>
		</div>
		<div class="container-fluid">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>