<div class="full-screen" style="display: flex;flex-flow: column;">
	<nav class="navbar navbar-dark" style="flex: 0;">
		<a routerLink="" class="navbar-brand">
			<img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
		    Disaster Planning
		</a>
		<ul class="nav navbar-nav float-xs-right hidden-sm-down">
			<li class="nav-item"><a routerLink="create" class="nav-link">Product</a></li>
			<li class="nav-item"><a routerLink="create" class="nav-link">Pricing</a></li>
			<li class="nav-item"><a routerLink="create" class="nav-link">Support</a></li>
			<li class="nav-item"><a routerLink="create" class="nav-link">Create your company</a></li>
			<li class="nav-item"><a routerLink="login" class="btn btn-outline-success">Login</a></li>
		</ul>
		<ul class="nav navbar-nav float-xs-right hidden-md-up">
			<li class="nav-item"><button (click)="show_menu()" class="btn btn-outline-success">Menu</button></li>
		</ul>
	</nav>
	<div class="full-screen" style="background: rgba(0,0,0);z-index: 1; position: absolute; top: 0px; bottom: 0px;" *ngIf="showMenu">
		<nav class="navbar navbar-dark" style="flex: 0;">
			<a routerLink="" class="navbar-brand">
				<img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
			    Disaster Planning
			</a>
			<ul class="nav navbar-nav float-xs-right hidden-md-up">
				<li class="nav-item"><button (click)="hide_menu()" class="btn btn-outline-secondary"><i class="fa fa-times" aria-hidden="true"></i></button></li>
			</ul>
		</nav>
		<div class="container">
			<ul class="nav nav-pills nav-stacked">
				<li class="nav-item text-xs-center"><a routerLink="create" class="nav-link"><h4>Product</h4></a></li>
				<li class="nav-item text-xs-center"><a routerLink="create" class="nav-link"><h4>Pricing</h4></a></li>
				<li class="nav-item text-xs-center"><a routerLink="create" class="nav-link"><h4>Support</h4></a></li>
				<li class="nav-item text-xs-center"><a routerLink="create" class="nav-link"><h4>Create your company</h4></a></li>
				<li class="nav-item text-xs-center"><a routerLink="login" class="nav-link"><h4>Login</h4></a></li>
			</ul>
		</div>
	</div>
	<div class="container-fluid" style="display: flex;flex-flow: column;justify-content: center;align-items: center;flex: 1">
		<div class="container" style="text-align: center;max-width: 1000px;">
			<h1 class="display-4 .hidden-sm-down text-white smallhead">Disaster strategy planning tool for companies</h1>
			<div class="container hidden-sm-down  col-xs-6" style="background: rgba(0,0,0,0.5);border-radius: 10px;padding: 25px 0px;margin-top: 20px;">
				<div class="row">
					<div class="col-xs-12">
						<span class="text-white">New to disaster planning?</span>
						<a routerLink="create" class="btn btn-info">Setup your company</a>
					</div>
				</div>
				<div class="row text-white">
					<div class="col-xs-12" style="padding-top:10px;">
						<span>Already joined your team? </span><a routerLink="login" class="text-white" style="text-decoration: underline;">Login</a>
					</div>
				</div>
			</div>
			<div class="w-100 hidden-md-up" style="background: rgba(0,0,0,0.5);padding: 25px 0px;margin-top: 20px;">
				<div class="row">
					<div class="col-xs-12">
						<span class="text-white">New to disaster planning?</span>
						<a routerLink="create" class="btn btn-info">Setup your company</a>
					</div>
				</div>
				<div class="row text-white">
					<div class="col-xs-12" style="padding-top:10px;">
						<span>Already joined your team? </span><a routerLink="login" class="text-white" style="text-decoration: underline;">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>